# OS Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
**/node_modules

# Dev/Build Artifacts
**/dist
**/dist-ssr
**/coverage
**/*.local
**/tests/e2e/videos/
**/tests/e2e/screenshots/
**/tests/unit/coverage/
**/jsconfig.json

# Local Env Files
**/.env
**/.env.e2e
**/.env.docker
**/.env.local
**/.env.*.local
*.env

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore docker files
**/docker-compose*
**/Dockerfile*

# Ignore task files
Taskfile.yml
.tasks
charts/

# Ignore tests
/apps/e2e

# Cache
.eslintcache
.husky

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
**/.next
/apps/frontend/out

# nuxt.js build output
**/.nuxt

# Nuxt generate
**/dist

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless

# IDE / Editor
.idea

# Service worker
sw.*

# macOS
.DS_Store

# Vim swap files
*.swp
.vscode/

*.session.sql
deploy*.sh

# Other unnecessary files
.git
.gitlab*
.gitpod*
.nvmrc
*.md
resources

# Other test files
**/test-results
**/playwright-report
**/results
**/coverage
**/reports
**/.github
**/dist
**/storage.js
**/features-wip

build.ps1
scripts/
